<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="inputFirstName">Họ Tên</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Họ tên">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstName">Email</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Email">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstName">Số điện thoại</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Số điện thoại">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="imgadd">
        <!-- <p>
                    <i class="fas fa-file-image"></i>
                    <br />Add image
                </p> -->
        <input type="file" class="form-control" id="inputFirstName" placeholder="Số điện thoại">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Ngày sinh</label>
        <input type="date" class="form-control" id="inputFirstName">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Địa chỉ</label>
        <input type="text" class="form-control" id="Địa chỉ">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Tên đăng nhập</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Tên đăng nhập">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Mật khẩu</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Mật khẩu">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputFirstName">Chức vụ</label>
        <select class="form-control">
          <option>Đơn vị sản xuất</option>
          <option>Đơn vị vận chuyển</option>
          <option>Đơn vị phân phối</option>
          <option>Đơn vị bán lẻ</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-dark" (click)="closeModal()">CANCEL</button>
  <button class="btn btn-warning" (click)="closeModal()">SUBMIT</button>
</div>
