<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-12">
        <nb-card class="inline-form-card">
          <nb-card-body class="inline-form-card">
            <div class="row">
              <div class="col-md-2">
                <h3>Equipments</h3>
              </div>
              <div class="col-md-10">
                <div class="row">

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputFirstName">Equipment Type</label>
                      <input type="text" class="form-control" id="inputFirstName" placeholder="Equipment Type">
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputLastName">Owner</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Owner">
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputFirstName">State</label>
                      <input type="text" class="form-control" id="inputFirstName" placeholder="State">
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputLastName">Position</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Position">
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="input-group">
                      <label for="inputLastName"></label>
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-append">
                        <button class="btn btn-danger input-group-text">
                          Search
                        </button>
                      </span>
                    </div>
                  </div>

                  <div class="col-sm-1">
                    <div class="form-group">
                      <label for="inputLastName"></label>
                      <button class="btn btn btn-warning" (click)="showModalAddEquipments()">Add</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table class="tableequipment" [settings]="settings" [source]="source" (custom)="onCustom($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>