<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <table class="table table-borderless table-condensed table-hover">
          <tr>
            <td class="font-bold">ID</td>
            <td>{{position.id}}</td>
          </tr>
          <tr>
            <td class="font-bold">Mô tả</td>
            <td>{{position.dsc}}</td>
          </tr>
          <tr>
            <td class="font-bold">Ngày tạo</td>
            <td>{{position.timeCreate}}</td>
          </tr>
          <tr>
            <td class="font-bold">Ngày cập nhật</td>
            <td>{{position.timeUpdate}}</td>
          </tr>
          <tr>
            <td class="font-bold">Trạng thái</td>
            <label for="inputFirstName" class="btn btn-success btn-xs">{{position.strStatus}}</label>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
