<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputFirstName">Tên chứng chỉ
          <span style="color:red">*</span>
        </label>
        <input type="text" class="form-control" [(ngModel)]="cetificate.title" placeholder="Tên chứng chỉ">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Loại chứng chỉ
          <span style="color:red">*</span>
        </label>
        <select class="form-control" [(ngModel)]="cetificate.categoryId">
          <option *ngFor="let anApp of categoryList" [value]="anApp.id">{{anApp.dsc}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Sinh viên
          <span style="color:red">*</span>
        </label>
        <select class="form-control" [(ngModel)]="cetificate.studentId">
          <option *ngFor="let anApp of studentList" [value]="anApp.id">{{anApp.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputFirstName">Năm tốt nghiệp
          <span style="color:red">*</span>
        </label>
        <input type="number" class="form-control" placeholder="Năm tốt nghiệp" [(ngModel)]="cetificate.yearOfGraduation">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Xếp loại
          <span style="color:red">*</span>
        </label>
        <select class="form-control" [(ngModel)]="cetificate.degreeClassification">
          <option *ngFor="let anApp of positionList" [value]="anApp.value">{{anApp.value}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Hình thức đào tạo
          <span style="color:red">*</span>
        </label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Hình thức đào tạo" [(ngModel)]="cetificate.modeOfStudy">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Hiệu trưởng
          <span style="color:red">*</span>
        </label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Ký tên" [(ngModel)]="cetificate.author">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Ngày cấp
          <span style="color:red">*</span>
        </label>
        <input type="date" class="form-control" id="inputFirstName" placeholder="Ngày cấp" [(ngModel)]="cetificate.date">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputFirstName">Hạn sử dụng
          <span style="color:red">*</span>
        </label>
        <select class="form-control" [(ngModel)]="cetificate.txtLimit">
          <option *ngFor="let anApp of limitList" [value]="anApp.id">{{anApp.value}}</option>
        </select>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-dark" (click)="closeModal()">CANCEL</button>
  <button class="btn btn-warning" (click)="onSubmit()">SUBMIT</button>
</div>