<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-7 img-detail">
            <img src="https://i.ytimg.com/vi/bD2mMsQboUo/maxresdefault.jpg" alt="" />
        </div>
        <div class="col-sm-5">
            <div class="row">
                <table class="table table-borderless table-condensed table-hover">
                    <tr>
                        <td class="font-bold">Serial Number</td>
                        <td>ABC1</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Equipment Type</td>
                        <td>Anna</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Position</td>
                        <td>Hoi An</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Material consumable</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Date</td>
                        <td>20-Jun-2018</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Update by</td>
                        <td>HaiNV</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Approved by</td>
                        <td>HaiNV</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Approved status</td>
                        <label for="inputFirstName" class="btn btn-success btn-xs">Using</label>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>